.pageHeading {
  text-align: center;
  font-family: "Jost", sans-serif;
}

.productsContainer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  justify-content: center;
  align-content: center;
  gap: 25px 25px;
}
